/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/src/__pycache__/
/src/tests/__pycache__/
.pytest_cache
.vscode
.coverage
__pycache__
htmlcov
.pytest_cache
